body {
    font-family: 'Open Sans', sans-serif;
}

.common-color {
    color: #FD6E0A;
}

.common-button {
    background-color: #FD6E0A;
    border-radius: 5px;
    border: 0;
    padding: 18px 35px;
    color: white;
    font-size: 20px;
    font-weight: 700;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 700;
}

nav > ul {
    display: flex;
    align-items: center;

}

nav ul li {
    list-style: none;
    margin-right: 51px;
}

nav a {
    text-decoration: none;
    color: #474747;
    font-size: 20px;
    font-weight: 400;
}